body {
    background-color: aliceblue;
    overflow: hidden;
}

#page_container {
    text-align: center;
    width: 100%;
    left: 0;
    top: 15%;
    position: absolute;
    padding-left: 10%;
padding-left: 10%;
}

#page {
    background-color: white;
    width: 80%;
    height: 350px;
}

@font-face {
    font-family:Reef
    src: url("Reef.otf");
}
    #titre {  
    font-family: Reef;
    font-size: 100;
}
